import React from 'react';
import styled${componentName} from './${componentName}.module.css'

export interface I${componentName}Props {

}

const ${componentName}: React.FC<I${componentName}Props> = () => {
    return (
        <div className={styled${componentName}.${componentName}}>
            <p>This is the ${componentName} component</p>
        </div>
    );
}

export default ${componentName};